<h1>Acessando o Modal Component</h1>

<p>Bem-vindos à página de teste de um modal</p>
<button class="button button-primary" type="button" (click)="show()">Apresentar Modal</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName">Primeiro Nome</label>
    <input id="firstName" [(value)]="firstName">
  </div>

  <div class="form-field">
    <label for="surName">Último Nome</label>
    <input id="surName">
  </div>

  <div class="form-field">
    <label for="age">Idade</label>
    <input id="age">
  </div>

  <div class="button-group">
    <button class="button button-primary" type="button">Enviar</button>
    <button class="button button-secondary" type="button" (click)="modalRef.close()">Cancelar</button>
  </div>
</ng-template>
